---
layout: home
---


<h1> Welcome! </h1>
<p> This is a website, one of them things on the interwebs. This is my website, the one and only Tim Cargan! on it you will find awesome pics and code and what ever else I feel like putting on it.
</p>

<div class="types"> 
	{% include icons/teletype.svg %} 
	{% include icons/camra.svg %} 
	{% include icons/pencil_circle.svg %}
</div>

<hr class="hr_color">

<h2 style="font-family: serif;font-weight: lighter;">The Basics </h2>

<p>I have always had a passion and intrest in computers and technology as a whole. Personaly I blame my dad for letting me play on his computer when I was youger. My passion as lead me to have some fanstic opertunitys and meet some truly remarable people. I find myslef most productive with a fresh cup of coffee and some <i>tunes</i>. </p>
