---
layout: home
---

<div style="text-align: center; max-width: 600px; margin: 0 auto" >
<h2 style="font-family: serif;font-weight: lighter;">The Basics </h2>

<p>have always had a passion and interest in computers and technology as a whole. Personally I blame my dad for letting me play on his computer when I was younger. My passion has lead me to have some fantastic opportunities and meet some truly remarkable people. I love writing clean code, solving interesting problems and taking pictures. I find myself most productive with a fresh cup of coffee and some <i>tunes</i>.</p>

</div>

<div class="types"> 
	{% include icons/teletype.svg %} 
	{% include icons/pencil_circle.svg %}
	{% include icons/camra.svg %} 
</div>

<hr class="hr">


