<header class="site-header head-img {% if page.head-short == true %} head-short {% endif %}">
	<div class="head-img-div" style="background: url({% if page.head-img %}{{ page.head-img }}{% else %} /images/ny.jpg {% endif %}) no-repeat center center; background-size: cover;">
	</div>
	<div class="wrap">
		<div class="center-text-cn">
			<div class="center-text-in">
				<h1 id="site-title">{{ page.title }}</h1>
				<h3 id="tag-line">{{ page.description }}</h3>
			</div>
		</div>
		<nav id="nav">
			<a class="page-link" href="/">Home</a>
			<a class="page-link" href="/blog/">Blog</a>
			<a class="page-link" href="/projects/">Projects</a>
			<a class="page-link" href="/gallery/">Gallery</a>
			<!-- <a class="page-link" href="/blog/">Blog</a> -->
		</nav>
		<div id="masthead">
			<a href="{{ site.baseurl }}/">
			{% include icons/masthead-03.svg %}
			</a>
		</div>
	</div>

</header>
