---
layout: default
---


<h1>Blog</h1>

<div class="post-list-wrap">

  <ul class="posts">
    {% for post in paginator.posts %}
      <li>
      	<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      		<div class="type"> 
      			{% if post.type == "code" %}
      				 {% include icons/teletype.svg %} 
      			{% elsif post.type == "photo" %}
      				{% include icons/camra.svg %} 
      			{% else if post.type == "blog" %}
      				{% include icons/pencil_circle.svg %}
      			
      			{% endif %}
      		</div>
      		<h3>{{ post.title }}</h3>
      	
	      	<div class="post-meta">
		        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
		        -
				    {% for categorie in post.categories %}
    					<span class="post-categorie">{{categorie}} 
    						{% if categorie != post.categories.last %}
    							,
    						{% endif %}
    					</span>
				    {% endfor %}
			    </div>
		    </a>
		    
        <br>
        <span class"post-exert"> {{ post.excerpt | markdown }} </span>
        <a href="{{ post.url | prepend: site.baseurl }}"> read more... </a>
    
      </li>
      <hr>
    {% endfor %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination-numbers">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}