
.page-content{
  padding: 20px;
  color: $text-color;
  
 }


 .page {
  p, blockquote{
    margin: 0 auto 20px auto;
    max-width: 700px;
  }
   blockquote {
    p {
       margin: 0 0 20px 0;
    }
  }
 } 
 .blog{
    text-align: left;
 }
 .post{
  p, blockquote{
    margin: 0 auto 20px auto;
    max-width: 800px;
  }
   blockquote {
    p {
       margin: 0 0 20px 0;
    }
  }
 }

.wrap{
  max-width: 1000px;
  margin: 0 auto;
    
}
  
.post-list-wrap {
	width: 100%;
	margin: 0 auto;
	
	h2, h3{
		margin: 0;
	}
}

.types{
	width: 220px;
	margin: 0 auto;
	svg{
   		height: 70px;
   		width: 70px;   		
 	}
}

.types + hr {
  max-width: 300px;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
}
 	
.posts {
	display: block;
	list-style-type: none;
  padding: 0;
	
	li { 
    	margin-bottom: 30px;
    	padding-left: 80px; 
    	list-style-type: none;	
      padding: 0;
    }
    
    .post-link {
    	letter-spacing: -1px;
    	line-height: 1;

      h2 {
        color: #383832;
        text-align: center;
        margin-bottom: 5px;

      }
    }
    

    .card {
      max-width: 900px;
      margin: 0 auto;
    }
    .card hr {
      margin: 20px auto 20px auto;
      width: 90%
    }
    
    .post-meta {
    	color: $accent-color;
     	font-size: 14px;
    }

    .post-date {
      font-style: italic;
    }
    
}

.type{
      width: 70px;
      margin: 5px auto;

      svg{
          height: 70px;
          width: 70px;          
      }
    }

@media (max-width: 600px){
    .page-content{
      width: 100%;
      padding: 20px 0;
  }
}
	