.project_title {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.project {
	margin-bottom: 20px;
}

.project .img_center {
	margin: 20px auto;
}

.project hr{
	border: 0;
	height: 1px;
	background: #f1c40f;

	background-image: -webkit-linear-gradient(left, #ff7878, #fabe5a, #f1c40f, #5ff05f, #6969eb, #b450fa, #ff7dff);
	background-image: -moz-linear-gradient(left, #ff7878, #fabe5a, #f1c40f, #5ff05f, #6969eb, #b450fa, #ff7dff);
	background-image: -ms-linear-gradient(left, #ff7878, #fabe5a, #f1c40f, #5ff05f, #6969eb, #b450fa, #ff7dff);
	background-image: -o-linear-gradient(left, #ff7878, #fabe5a, #f1c40f, #5ff05f, #6969eb, #b450fa, #ff7dff);

	width: 70%;
	max-width: 800px;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.stuff h4{
	margin-bottom: 5px
}

@media only screen and (max-device-width: 330px)  {
	.project hr{
		min-width: 100%;	
	}
}