---
layout: home
---

<div class="post post blog">
<p class="meta normal">{% if page.author %}{{ page.author }} • {% endif %} {{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

	<div class="type"> 
		{% if page.type == "code" %}
	 		{% include icons/teletype.svg %} 
		{% elsif page.type == "photo" %}
			{% include icons/camra.svg %} 
		{% else if page.type == "blog" %}
			{% include icons/pencil_circle.svg %}
		{% endif %}
	</div>
	<hr>
	
	<article class="post-content">
		<div class="wrap">
			{{ content }}
		</div>
	</article>

</div>